<div class="section-divider">
  <svg viewBox="0 0 1440 50" xmlns="http://www.w3.org/2000/svg">
    <path d="M0,10 Q720,40 1440,10" fill="none" stroke="#167D80" stroke-width="2"/>
  </svg>
</div>

<style>
  .section-divider {
    width: 100%;
    height: 50px;
    background: var(--white);
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .section-divider svg {
    width: 100%;
    height: 100%;
  }
</style>